<aside class="main-sidebar sidebar-light-primary elevation-1">
 
    <!-- Barre latérale -->
    <div class="sidebar">
        <!-- Panneau utilisateur de la barre latérale (facultatif) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/images/avatar5.png" class="img-circle elevation-2" alt="Utilisateur">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= user.name %></a>
               
            </div>
        </div>
  
        <!-- Formulaire de recherche dans la barre latérale -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Rechercher"
                    aria-label="Rechercher">
                <div class="input-group-append">
                    <button title="sidebar" class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Menu de la barre latérale -->
        <% if (user.role == 0) { %>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <li class="nav-item">
                        <a href="/" class="nav-link <%= activeRoute === 'dashboard' ? 'active' : '' %>">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Tableau de bord
                            </p>
                        </a>
                  </li>
                  <li class="nav-item">
                      <a href="/user" class="nav-link <%= activeRoute === 'users' ? 'active' : '' %>">
                          <i class="nav-icon fas fa-users"></i>
                          <p>
                              formateurs
                          </p>
                      </a>
                  </li>
                  <li class="nav-item has-treeview <%= activeRoute.includes('stagaire') ? 'menu-open' : '' %>">
                        <a href="#" class="nav-link <%= activeRoute.includes('stagaire') ? 'active' : '' %>">
                          <i class="nav-icon fas fa-folder"></i>
                          <p>
                            Gestion des Stagaires
                            <i class="fas fa-angle-left right"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="/stagaire" class="nav-link <%= activeRoute === 'stagaire' ? 'active' : '' %>">
                                <i class="nav-icon fas fa-user-graduate"></i>
                                <p>
                                    Stagiaires
                                </p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/archived_stagiaires" class="nav-link <%= activeRoute === 'archivedstagaire' ? 'active' : '' %>">
                              <i class="nav-icon fas fa-archive"></i>
                              <p>
                                    Stagiaires Archived 
                                </p>
                            </a>
                          </li>
                        </ul>
                  </li>
                  <li class="nav-item has-treeview <%= activeRoute.includes('absence') ? 'menu-open' : '' %>">
                        <a href="#" class="nav-link <%= activeRoute.includes('absence') ? 'active' : '' %>">
                          <i class="nav-icon fas fa-calendar"></i>
                          <p>
                            Gestion des absences
                            <i class="fas fa-angle-left right"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="/absence" class="nav-link <%= activeRoute === 'absences' ? 'active' : '' %>">
                              <i class="nav-icon fas fa-calendar-times"></i>
                              <p>
                                Liste des absences
                              </p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/absence/absences" class="nav-link <%= activeRoute === 'absencesList' ? 'active' : '' %>">
                                <i class="nav-icon fas fa-filter"></i>
                                <p>
                                Les liste spécifique
                              </p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/absence/absences/function" class="nav-link <%= activeRoute === 'absencesListFunction' ? 'active' : '' %>">
                              <i class="nav-icon fas fa-calendar"></i>
                              <p>
                                Les liste avec fonction
                              </p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/justified-absences" class="nav-link <%= activeRoute === 'absencesJustified' ? 'active' : '' %>">
                                <i class="nav-icon fas fa-calendar-check"></i>
                              <p>
                                Les absence justifie
                              </p>
                            </a>
                          </li>
                        </ul>
                  </li>
                  <li class="nav-item has-treeview <%= activeRoute === 'pvnd' || activeRoute === 'pvm' || activeRoute === 'notes' ? 'menu-open' : '' %>">
                      <a href="#" class="nav-link <%= activeRoute === 'pvnd' || activeRoute === 'pvm' || activeRoute === 'notes' ? 'active' : '' %>">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                          Gestion des Notes PV
                          <i class="fas fa-angle-left right"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="/absence/absences/pvnd" class="nav-link <%= activeRoute === 'pvnd' ? 'active' : '' %>">
                            <i class="nav-icon fas fa-clipboard-list"></i>
                            <p>
                              PVND
                            </p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/absence/absences/pvm" class="nav-link <%= activeRoute === 'pvm' ? 'active' : '' %>">
                            <i class="nav-icon fas fa-clipboard-list"></i>
                            <p>
                              PVM
                            </p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/absence/absences/notes" class="nav-link <%= activeRoute === 'notes' ? 'active' : '' %>">
                            <i class="nav-icon fas fa-clipboard-list"></i>
                            <p>
                              Notes
                            </p>
                          </a>
                        </li>
                      </ul>
                  </li>
                  <li class="nav-item has-treeview <%= activeRoute.includes('groups') ? 'menu-open' : '' %>">
                      <a href="#" class="nav-link <%= activeRoute.includes('groups') ? 'active' : '' %>">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                          Gestion des Groupes
                          <i class="fas fa-angle-left right"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="/group" class="nav-link <%= activeRoute === 'groups' ? 'active' : '' %>">
                              <i class="nav-icon fas fa-users"></i>
                              <p>
                                  listes des Groupes
                              </p>
                          </a>
                      </li>
                        <li class="nav-item">
                          <a href="/group/group-details" class="nav-link <%= activeRoute === 'groupsDetails' ? 'active' : '' %>">
                            <i class="nav-icon fas fa-filter"></i>
                            <p>
                              groupes & details
                            </p>
                          </a>
                        </li>
                      </ul>
                  </li>
                </ul>
            </nav>
        <% } else if (user.role == 1) { %>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
  
                <li class="nav-item">
                    <a href="/" class="nav-link <%= activeRoute === 'dashboard' ? 'active' : '' %>">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Tableau de bord
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview <%= activeRoute.includes('absence') ? 'menu-open' : '' %>">
                  <a href="#" class="nav-link <%= activeRoute.includes('absence') ? 'active' : '' %>">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p>
                      Gestion des absences
                      <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/absence" class="nav-link <%= activeRoute === 'absences' ? 'active' : '' %>">
                        <i class="nav-icon fas fa-calendar-times"></i>
                        <p>
                          Liste des absences
                        </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/absence/absences-list-formateur" class="nav-link <%= activeRoute === 'absencesListFormateur' ? 'active' : '' %>">
                          <i class="nav-icon fas fa-filter"></i>
                          <p>
                          Les liste spécifique
                        </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/justified-absences" class="nav-link <%= activeRoute === 'absencesJustified' ? 'active' : '' %>">
                          <i class="nav-icon fas fa-calendar-check"></i>
                        <p>
                          Les absence justifie
                        </p>
                      </a>
                    </li>
                  </ul>
              </li>
                <li class="nav-item">
                  <a href="/group/group-details" class="nav-link <%= activeRoute === 'groupsDetails' ? 'active' : '' %>">
                    <i class="nav-icon fas fa-filter"></i>
                    <p>
                      groupes & details
                    </p>
                  </a>
                </li>
               
            </ul>
        </nav>
        <% } %>
    </div>
</aside>
  