<!-- absence.ejs -->
<!DOCTYPE html>
<html lang="fr">
<%- include('partials/header') %>
<head>
    <style>
        .red-eye {
        color: red;
      }
        .green-eye {
        color: green;
      }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Absences des Stagiaires</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Absences</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                          <div class="col-auto ms-auto d-print-none">
                                            <form action="/absence" method="get" id="absenceForm">
                                              <div class="d-flex justify-content-between">
                                                <div>
                                                  <% const uniqueDates = new Set(); %>
                                                  <select class="form-control btn btn-primary d-none d-sm-inline-block" id="dateSelect" name="dateSelect">
                                                    <% for (const absence of absences) { %>
                                                      <!-- Get the date in "DD/MM/YYYY" format -->
                                                      <% const formattedDate = new Date(absence.date).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }); %>
                                                      <!-- Check if the date is already in the Set -->
                                                      <% if (!uniqueDates.has(formattedDate)) { %>
                                                        <!-- Add the date to the Set to avoid duplicates -->
                                                        <% uniqueDates.add(formattedDate); %>
                                                        <!-- Display the unique date in the dropdown -->
                                                        <option value="<%= formattedDate %>"><%= formattedDate %></option>
                                                      <% } %>
                                                    <% } %>
                                                    
                                                  </select>
                                                </div>
                                                <div>
                                                  <select class="form-control btn btn-primary d-none d-sm-inline-block" id="periodSelect" name="periodSelect" onchange="submitForm()">
                                                    <option value="AM" <% if (selectedPeriod === 'AM') { %>selected<% } %>>Matin</option>
                                                    <option value="PM" <% if (selectedPeriod === 'PM') { %>selected<% } %>>Après-midi</option>
                                                  </select>
                                                </div>
                                                <button type="button" class="btn btn-primary d-none d-sm-inline-block" onclick="submitForm()">Nouvelle Liste</button>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button class="btn btn-primary d-none d-sm-inline-block" onclick="filterByPeriod('AM')">Filter AM</button>
                                <button class="btn btn-primary d-none d-sm-inline-block" onclick="filterByPeriod('PM')">Filter PM</button>
                                   -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                              <th class="text-center">CEF</th>
                                              <th class="text-center">period</th>
                                              <th class="text-center">Prenom</th>
                                              <th class="text-center">Nom</th>
                                              <th class="text-center">Total Hours</th>
                                            </tr>
                                          </thead>
                                          <tbody id="tableBody">
                                            <% for (const absence of absences) { %>
                                              <tr>
                                                <td class="text-center"><%= absence.stagiaire.CEF %></td>
                                                <td class="text-center"><%= absence.period %></td>
                                                <td class="text-center"><%= absence.stagiaire.firstName %></td>
                                                <td class="text-center"><%= absence.stagiaire.lastName %></td>
                                                <td class="text-center"><%= absence.totalHours %></td>
                                              </tr>
                                            <% } %>
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        
    </div>
    
    <%- include('partials/script') %>
    
    <!-- <script src="/scripts/script.js"></script> -->



    <script>
      // Function to submit the form with selected date and period
      function submitForm() {
        const dateSelect = document.getElementById('dateSelect');
        const periodSelect = document.getElementById('periodSelect');
        const selectedDate = dateSelect.value;
        const selectedPeriod = periodSelect.value;
    
        // Update the form action URL with the selected date and period
        document.getElementById('absenceForm').action = `/absence/absences?date=${selectedDate}&period=${selectedPeriod}`;
    
        // Submit the form
        document.getElementById('absenceForm').submit();
      }
    </script>
    
</body>
        
</html>

