<!-- absence.ejs -->
<!DOCTYPE html>
<html lang="fr">
<%- include('partials/header') %>
<head>
    <style>
        .red-eye {
        color: red;
      }
        .green-eye {
        color: green;
      }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h6>Liste des Absences des Stagiaires avec Marquage de Présence</h6>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Absences</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <div class="col-auto ms-auto d-print-none">
                                            
                                                <button class="btn btn-primary d-none d-sm-inline-block" onclick="filterByPeriod('AM')">Filter AM</button>
                                                <button class="btn btn-primary d-none d-sm-inline-block" onclick="filterByPeriod('PM')">Filter PM</button>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                              <th class="text-center">CEF</th>
                                              <th class="text-center">Prenom</th>
                                              <th class="text-center">Nom</th>
                                              <th class="text-center">Period</th>
                                              <th class="text-center"  id="seance1Header">1er seance</th>
                                              <th class="text-center"  id="seance2Header">2eme seance</th>
                                              <th class="text-center">Justifie</th>
                                            </tr>
                                          </thead>
                                          <tbody id="tableBody">
                                            
                                            <% for (const absence of absences) { %>

                                              <tr>
                                                <% const today = new Date() %>
                                                <td class="text-center"><%= absence.stagiaire.CEF %></td>
                                                <td class="text-center"><%= absence.stagiaire.firstName %></td>
                                                <td class="text-center"><%= absence.stagiaire.lastName %></td>
                                                <td class="text-center" data-period="<%= absence.period %>"><%= absence.period %></td>
                                                <%
// Helper function to get justified absence by stagiaire ID
function getJustifiedAbsence(stagiaireId) {
  return justifiedAbsences.find(justified => justified.stagiaire_id === stagiaireId);
}

// Helper function to check if justified end date is valid
function isJustifiedEndDateValid(stagiaireId) {
  const justifiedAbsence = getJustifiedAbsence(stagiaireId);
  if (!justifiedAbsence || !justifiedAbsence.end_date) {
    return false;
  }

  const endDate = new Date(justifiedAbsence.end_date);
  const id = justifiedAbsence.stagiaire_id;
  const today = new Date();

  console.log('stagiaireId:', stagiaireId);
  console.log('justifiedAbsence:', justifiedAbsence);
  console.log('endDate:', endDate);
  console.log('today:', today);
  console.log('Is endDateValid:', endDate >= today);
  console.log('Id:', id);

  return endDate >= today;
}
%>

                                                
                                              
                                               
                                               <% const isEndDateValid = isJustifiedEndDateValid(absence.stagiaire.id); %>
                                           
                                               <td class="text-center"> 
                                                <div class="form-check">
                                                  <input
                                                    type="checkbox"
                                                    class="form-check-input attendance-checkbox first-session-checkbox"
                                                    id="1er-seance-<%= absence.stagiaire.id %>"
                                                    <% if (absence.first_session_attendance == 1) { %>checked<% } %>
                                                    data-student-id="<%= absence.id %>"
                                                    <% if (isEndDateValid) { %>disabled<% } %>
                                                  >
                                                  <label class="form-check-label" for="1er-seance-<%= absence.stagiaire.id %>">
                                                    <% if (absence.first_session_attendance === 1) { %>
                                                      Absent  
                                                    <% } else { if (isEndDateValid) {%>
                                                      Cette absence justifie
                                                      <% }else{ %>
                                                      Présent  
                                                    <% } %> 
                                                    <% } %>   
                                                  </label>
                                                </div>
                                              </td>
                                                <td class="text-center">
                                                  <div class="form-check">
                                                    <input
                                                      type="checkbox"
                                                      class="form-check-input attendance-checkbox second-session-checkbox "
                                                      id="2eme-seance-<%= absence.stagiaire.id %>"
                                                      <% if (absence.second_session_attendance == 1) { %>checked<% } %>
                                                      data-student-id="<%= absence.id %>"
                                                      <% if (isEndDateValid) { %>disabled<% } %>

                                                    >
                                                    <label class="form-check-label" for="2eme-seance-<%= absence.stagiaire.id %>">
                                                      <% if (absence.second_session_attendance === 1) { %>
                                                        Absent
                                                      <% } else { if (isEndDateValid) {%>
                                                        Cette absence justifie
                                                        <% }else{ %>
                                                        Présent  
                                                      <% } %>    
                                                      <% } %>    
                                                    </label>
                                                  </div>
                                                </td>

                                             
                                              
                                                <td class="text-center">
                                                  <div class="form-check">
                                                    <input
                                                      type="checkbox"
                                                      class="form-check-input is-justified-checkbox"
                                                      id="justified-seance-<%= absence.stagiaire.id %>"
                                                      <% if (absence.is_justified == 1 || isEndDateValid) { %>checked<% } %>
                                                      data-absence-id="<%= absence.id %>"
                                                      data-stagiaire-id="<%= absence.stagiaire.id %>"
                                                      data-justified-checkbox
                                                      <% if (isEndDateValid) { %>disabled<% } %>

                                                    >
                                                    <label class="form-check-label" for="justified-seance-<%= absence.stagiaire.id %>">
                                                      <% if (absence.is_justified === 1 || isEndDateValid) { %>
                                                        Oui
                                                      <% } else { %>
                                                        Non
                                                      <% } %>
                                                    </label>
                                                  </div>
                                                </td>
                                                
                                                
                                              </tr>
                                            <% } %>
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        
    </div>
   
   
<!-- Add a modal for choosing justified absence duration -->
<div class="modal" id="justifiedAbsenceModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choisir la durée de l'absence justifiée</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label for="startDate">Date de début :</label>
        <input class="form-control" type="date" id="startDate">
        <label for="endDate">Date de fin :</label>
        <input class="form-control" type="date" id="endDate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveJustifiedAbsence()">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>















    <%- include('partials/script') %>
    
    <script src="/scripts/absences.js"></script>


<script>
  
</script>
</body>
        
</html>

