<!-- absence.ejs -->
<!DOCTYPE html>
<html lang="fr">
<%- include('partials/header') %>
<head>
    <style>
        .red-eye {
        color: red;
      }
        .green-eye {
        color: green;
      }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Absences des Stagiaires</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Absences</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <div class="col-auto ms-auto d-print-none">
                                                <form action="/absence/create" method="post" id="absenceForm">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <select class="form-control btn btn-primary d-none d-sm-inline-block" id="dateSelect" name="dateSelect"></select>
                                                        </div>
                                                        <div>
                                                            <select class="form-control btn btn-primary d-none d-sm-inline-block" id="periodSelect" name="periodSelect" onchange="updateTableHeader()">
                                                                <option value="AM">Matin</option>
                                                                <option value="PM">Après-midi</option>
                                                            </select>
                                                        </div>
                                                        
                                                        <% for (const stagiaire of stagiaires) { %>
                                                            <input type="hidden" name="stagiaire_id[]" value="<%= stagiaire.id %>">
                                                            <% } %>
                                                            
                                                            <button type="button" class="btn btn-primary d-none d-sm-inline-block" onclick="submitForm()">Nouvelle Liste</button>
                                                        </div>
                                                </form>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                              <th class="text-center">CEF</th>
                                              <th class="text-center">Prenom</th>
                                              <th class="text-center">Nom</th>
                                              <th class="text-center"  id="seance1Header">1er seance (<%= absences.length > 0 ? absences[0].period : '' %>)</th>
                                              <th class="text-center"  id="seance2Header">2eme seance (<%= absences.length > 0 ? absences[0].period : '' %>)</th>
                                            </tr>
                                          </thead>
                                          
                                        <tbody id="tableBody">
                                          <% for (const absence of absences) { %>
                                            <tr>
                                              <td class="text-center"><%= absence.stagiaire.CEF %></td>
                                              <td class="text-center"><%= absence.stagiaire.firstName %></td>
                                              <td class="text-center"><%= absence.stagiaire.lastName %></td>
                                              <td class="text-center">
                                                <div class="form-check">
                                                  <label for="1er-seance" class="mr-4">08:00-10:30</label>
                                                  <i class="fas <% if (absence.first_session_attendance == 1) { %>fa-eye-slash red-eye<% } else { %>fa-eye green-eye<% } %>"></i>
                                                </div>
                                              </td>
                                              <td class="text-center">
                                                <div class="form-check">
                                                  <label for="2eme-seance" class="mr-4"></label>
                                                  <i class="fas <% if (absence.second_session_attendance == 1) { %>fa-eye-slash red-eye<% } else { %>fa-eye green-eye<% } %>"></i>
                                                </div>
                                              </td>
                                            </tr>
                                          <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        
    </div>
    
    <%- include('partials/script') %>
    
    <script src="/scripts/script.js"></script>


    <script>
        function submitForm() {
            // Submit the form
            document.getElementById('absenceForm').submit();
        }
    </script>
    <script>
        function updateTableHeader() {
          const periodSelect = document.getElementById('periodSelect');
          const selectedPeriod = periodSelect.value;
          const seance1Header = document.getElementById('seance1Header');
          const seance2Header = document.getElementById('seance2Header');
      
          // Update the table headers with the selected period
          seance1Header.textContent = `1er seance (${selectedPeriod})`;
          seance2Header.textContent = `2eme seance (${selectedPeriod})`;
        }
      </script>
      
      
      
</body>
        
</html>

