<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Groupe & Details</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Groupes</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                        <% if (user.role == 0) { %>
                            <div class="card">
                                <div class="card-header text-center">
                                    Liste des Formateurs
                                </div>
                                <div class="card-body">
                                    <% if (!groupWithFormateurs || !groupWithFormateurs.formateurs || groupWithFormateurs.formateurs.length === 0) { %>
                                        <p class="text-center text-danger">Aucun Formateur trouvé.</p>
                                    <% } else { %>
                                        <ul>
                                            <% groupWithFormateurs.formateurs.forEach((Formateur) => { %>
                                                <li><b><%= Formateur.formateur_name %></b></li>
                                            <% }) %>
                                        </ul>
                                    <% } %>
                                </div>
                            </div>
                        <% }%>
                            


                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <div class="col-auto ms-auto d-print-none">
                                                <div class="d-flex justify-content-center">
                                                    <h1 class="card-title"><%= group.name %></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                               
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">CEF</th>
                                                <th class="text-center">Nom</th>
                                                <th class="text-center">Pernom</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% if (!stagaires || stagaires.length === 0) { %>
                                                <tr>
                                                    <td colspan="7" style="text-align:center">Aucun stagaire trouvé.</td>
                                                </tr>
                                            <% } else { %>
                                                <% stagaires.forEach((stagaire) => { %>
                                                    <% if(stagaire.status == "active"){ %>
                                                    <tr>
                                                        <td class="text-center"><%= stagaire.CEF %></td>
                                                        <td class="text-center"><%= stagaire.lastName  %></td>                                                     
                                                        <td class="text-center"><%= stagaire.firstName  %></td>
                                                    </tr>
                                                    <% } %>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <%- include('partials/script') %>
    </div>
    <!-- ./wrapper -->

</body>

</html>
