<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Groupes et Formateur</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Groupes</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <div class="col-auto ms-auto d-print-none">
                                                <div class="d-flex justify-content-end">
                                                    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report" id="new-group-button">
                                                        nouveau formateur de groupe
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Nom de Formateur</th>
                                                <th class="text-center">Nom de groupe</th>
                                                <th class="text-center">Date de création</th>
                                                <th class="text-center">Date de modification</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% if (!groups || groups.length === 0) { %>
                                                <tr>
                                                    <td colspan="6" style="text-align:center">Aucun groupe trouvé.</td>
                                                </tr>
                                            <% } else { %>
                                                <% groups.forEach(group => { %>
                                                    <tr>
                                                      <td class="text-center"><%= group.user_name %></td>
                                                      <td class="text-center"><%= group.group_name %></td>
                                                      <td class="text-center"><%= new Date(group.created_at).toLocaleDateString('fr-FR') %></td>
                                                      <td class="text-center"><%= new Date(group.updated_at).toLocaleDateString('fr-FR') %></td>
                                                      <td class="text-center">
                                                        <button class="btn btn-success update-btn" data-bs-toggle="modal" data-bs-target="#modal-update" data-group-id="<%= group.id %>">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                                      
                                                        <form id="delete-form-<%= group.id %>" action="/group-formateur/<%= group.id %>" method="POST" style="display: inline;">
                                                          <input type="hidden" name="_method" value="DELETE">
                                                          <button class="btn btn-danger delete-btn" onclick="confirmDelete(event, '<%= group.id %>')" id="delete-button-<%= group.id %>">
                                                            <i class="fas fa-trash-alt"></i>
                                                          </button>
                                                        </form>
                                                      </td>
                                                    </tr>
                                                  <% }) %>
                                                  
                                                  
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <%- include('partials/script') %>
    </div>
    <!-- ./wrapper -->

    <!-- Modal insert -->
    <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-report" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Nouveau Groupe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="create-group-form" action="/group-formateur" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Groupe</label>
                            <select class="form-control" name="group_id" required>
                                <% allGroups.forEach(function(allGroup) { %>
                                        <option value="<%= allGroup.id %>"><%= allGroup.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Formateur</label>
                            <select class="form-control" name="user_id" required>
                                <% users.forEach(function(user) { %>
                                    <% if (user.role === 1) { %>
                                        <option value="<%= user.id %>"><%= user.nom_complete %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="create-group-button">Créer Groupe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal delete -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer le Groupe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer ce groupe ?
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update -->
    <div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="modal-title-update" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title-update">Modifier le Groupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="update-group-form" action="" method="POST">
                <input type="hidden" id="update-group-id" name="groupId" value="">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nouveau Groupe</label>
                        <select class="form-control" name="group_id" required>
                            <% allGroups.forEach(function(allGroup) { %>
                                <option value="<%= allGroup.id %>"><%= allGroup.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nouveau Formateur</label>
                        <select class="form-control" name="user_id" required>
                            <% users.forEach(function(user) { %>
                                <% if (user.role === 1) { %>
                                    <option value="<%= user.id %>"><%= user.nom_complete %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" id="update-group-button">Modifier Groupe</button>
                </div>
            </form>
        </div>
    </div>
    </div>



    <!-- Ajouter un nouveau staffgroupe -->
    <script>
        $('#modal-report').on('hidden.bs.modal', function() {
            $('#create-group-form')[0].reset();
        });
    
        $('#create-group-form').on('submit', function(event) {
            event.preventDefault();
    
            var form = $(this);
            var url = form.attr('action');
            var formData = form.serialize();
    
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function(response) {
                    console.log('Groupe créé avec succès');
                    $('#modal-update').modal('hide');
                    
                    // Reload the page after creating a new group
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error('Une erreur s\'est produite lors de la création du groupe :', error);
                },
                complete: function() {
                    // Réinitialiser le formulaire
                    form[0].reset();
    
                    // Fermer la modal
                    $('#modal-report').modal('hide');
                }
            });
        });
    
        // Clear the form when the modal is completely hidden
        $('#modal-report').on('hidden.bs.modal', function() {
            $('#create-group-form')[0].reset();
        });
    </script>
    
    <!-- Supprimer un staffgroupe -->
    <script>
        // Fonction de confirmation de suppression
        function confirmDelete(event, groupId) {
            event.preventDefault(); // Empêcher la soumission du formulaire

            // Obtenir l'élément modal
            var modal = document.getElementById('exampleModalCenter');

            // Obtenir les boutons dans la modal
            var confirmButton = modal.querySelector('.btn-danger');
            var closeButton = modal.querySelector('.btn-secondary');

            // Mettre à jour l'événement de clic du bouton de confirmation
            confirmButton.onclick = function() {
                // Effectuer l'opération de suppression
                fetch(`/group-formateur/${groupId}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Groupe supprimé avec succès
                            alert('Groupe supprimé avec succès');
                            location.reload(); // Recharger la page
                        } else {
                            // Erreur lors de la suppression du groupe
                            console.error('Une erreur est survenue lors de la suppression du groupe : ' + data.error);
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        console.error('Une erreur est survenue lors de la suppression du groupe');
                    });

                // Fermer la modal
                $(modal).modal('hide');
            };

            // Afficher la modal
            $(modal).modal('show');

            // Mettre à jour l'événement click du bouton de fermeture
            closeButton.onclick = function() {
                // Fermer la modal
                $(modal).modal('hide');
            };
        }
    </script>

    <!-- Modifier un staffgroupe -->
    <script>
        $(document).ready(function() {
            $('#modal-update').on('show.bs.modal', function (event) {
                console.log('Modal show event triggered');
                var button = $(event.relatedTarget);
                var groupId = button.data('group-id');
                console.log('Group ID:', groupId);
                $('#update-group-id').val(groupId);
            });
    
            
            $('#update-group-form').on('submit', function(event) {
            event.preventDefault();
    
            var form = $(this);
            var groupId = $('#update-group-id').val(); // Get the groupId from the hidden input
            var url = `/group-formateur/update/${groupId}`; // Construct the URL
            var formData = form.serialize();
    
            $.ajax({
                url: url,
                type: 'PUT',
                data: formData,
                success: function(response) {
                    console.log('Group updated successfully');
                    $('#modal-update').modal('hide');
                    reload();
                },
                error: function(xhr, status, error) {
                    console.error('An error occurred while updating the group:', error);
                },
                complete: function() {
                    form[0].reset();
                }
            });
        });
    
            $('#modal-update').on('hidden.bs.modal', function() {
                $('#update-group-form')[0].reset();
            });
    
        });
    </script>
    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
