<!-- absence.ejs -->
<!DOCTYPE html>
<html lang="fr">
<%- include('partials/header') %>
<head>
    <style>
        .red-eye {
        color: red;
      }
        .green-eye {
        color: green;
      }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h6>Procès-verbal de notes.</h6>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Absences</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
          
            <!-- //Procès-verbal de notes. -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                          <div class="col-auto ms-auto d-print-none">
                                            <div class="col-auto ms-auto d-print-none">
                                              <div class="d-flex justify-content-between">
                                                <div>
                                                  <p><span class="fond-rouge">Procès-verbal de notes.</span></p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="card-body">
                                  <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                      <tr>
                                        <th class="text-center">CEF</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Note / ...</th>
                                        <th class="text-center">Observation</th>
                                      </tr>
                                    </thead>
                                    <%if(user.role == 0){ %>
                                      <tbody id="tableBody">
                                        <% for (const stagiaire of stagiaires) { %>
                                          <tr>
                                            <td class="text-center"><%= stagiaire.CEF %></td>
                                            <td class="text-center"><%= stagiaire.lastName %></td>
                                            <td class="text-center"><%= stagiaire.firstName %></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                          </tr>
                                        <% } %>
                                      </tbody>
                                      <%} %>
                                        
                                  </table>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            
            <!-- /.content -->
        </div>
        
    </div>
    
    
    <%- include('partials/script') %>
        
</body>
        
</html>

