<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Stagiaires</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Stagiaires</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <div class="col-auto ms-auto d-print-none">
                                                <div class="d-flex justify-content-between">
                                                    <label for="excel-file" class="btn btn-success d-none d-sm-inline-block">
                                                        Insere list
                                                    </label>
                                                    <input type="file" id="excel-file" accept=".xlsx, .xls" style="display: none" />
                                                    
                                                    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report" id="new-stagiaire-button">
                                                        Nouveau Stagiaire
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">CEF</th>
                                                <th class="text-center">Nom</th>
                                                <th class="text-center">Prénom</th>
                                                <th class="text-center">N de Groupe</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <% if (!stagiaires || stagiaires.length === 0) { %>
                                            <tr>
                                                <td colspan="5" style="text-align:center">No stagiaire records found.</td>
                                            </tr>
                                            <% } else { %>
                                            <% stagiaires.forEach((stagiaire) => { %>
                                                <tr>
                                                    <td class="text-center"><%= stagiaire.CEF %></td>
                                                    <td class="text-center"><%= stagiaire.lastName %></td>
                                                    <td class="text-center"><%= stagiaire.firstName %></td>
                                                    <td class="text-center"><%= stagiaire.groupId != null && stagiaire.groupId != 0 ? 'group ' + stagiaire.groupId : 'No group' %></td>
                                                    <td class="text-center">
                                                      
                                                        <button class="btn btn-success update-btn" onclick="goToUpdatePage('<%= stagiaire.id %>')">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                        <form id="delete-form-<%= stagiaire.id %>" action="/stagiaires/<%= stagiaire.id %>" method="POST" style="display: inline;">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <button class="btn btn-danger delete-btn" onclick="confirmDelete(event, '<%= stagiaire.id %>')" id="delete-button-<%= stagiaire.id %>">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </form>

                                                    </td>
                                                </tr>
                                            <% }) %>
                                            <% } %>
                                        </tbody>
                                        
  
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('partials/script') %>
    </div>
    <!-- ./wrapper -->
    <!-- Modal insert -->
    <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-report" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Nouveau Stagiaire</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="create-stagiaire-form" action="/stagaire/create" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">CEF</label>
                            <input type="text" class="form-control" name="CEF" placeholder="CEF">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Prénom</label>
                            <input type="text" class="form-control" name="firstName" placeholder="Prénom">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" name="lastName" placeholder="Nom">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Sélectionner un groupe</label>
                            <select class="form-control" name="groupId" id="group-select">
                                <option value="" disabled selected>Select a group</option>
                                <% groups.forEach((group) => { %>
                                <option value="<%= group.id %>"><%= group.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="create-stagiaire-button">Créer Stagiaire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- Modal delete -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer Stagiaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce stagiaire ?
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>



<!-- pour les listes des stgrs -->
<script>
    document.getElementById('excel-file').addEventListener('change', handleFileUpload);

    function handleFileUpload(event) {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('file', file);

      fetch('/stagaire/upload', {
        method: 'POST',
        body: formData
      })
        .then(response => {
          if (response.ok) {
            alert('Stagiaire list uploaded successfully');
            // Refresh the page or perform any additional actions
          } else {
            throw new Error('Stagiaire list upload failed');
          }
        })
        .catch(error => {
          console.error('An error occurred while uploading the stagiaire list:', error);
          alert('An error occurred while uploading the stagiaire list : '+error.message);
        });
    }
</script>


<!-- //add new stagiaire -->
<script>
$('#create-stagiaire-form').on('submit', function(event) {
    event.preventDefault();

    var form = $(this);
    var url = form.attr('action');
    var formData = form.serialize();

    $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        success: function(response) {
            console.log('Stagiaire created successfully');

            // Close the modal
            $('#modal-report').modal('hide');

            // Get the created stagiaire data
            // var createdStagiaire = response.stagiaire;
            var createdStagiaire = response;

            // Append the new stagiaire data to the table
            var tableBody = $('#example1 tbody');
            var newRow = '<tr>' +
                '<td>' + createdStagiaire.CEF + '</td>' +
                '<td>' + createdStagiaire.lastName + '</td>' +
                '<td>' + createdStagiaire.firstName + '</td>' +
                '<td>' + (createdStagiaire.groupId !== 0 ? 'group ' + createdStagiaire.groupId : 'No group') + '</td>' +
                '<td>' +
                '<button class="btn btn-success update-btn" onclick="goToUpdatePage(' + createdStagiaire.id + ')">' +
                '<i class="fas fa-edit"></i>' +
                '</button>' +
                '<form id="delete-form-' + createdStagiaire.id + '" action="/stagiaires/' + createdStagiaire.id + '" method="POST" style="display: inline;">' +
                '<input type="hidden" name="_method" value="DELETE">' +
                '<button class="btn btn-danger delete-btn" onclick="confirmDelete(event, \'' + createdStagiaire.id + '\')" id="delete-button-' + createdStagiaire.id + '">' +
                '<i class="fas fa-trash-alt"></i>' +
                '</button>' +
                '</form>' +
                '</td>' +
                '</tr>';

            tableBody.append(newRow);

            // Reset the form
            form[0].reset();

            // Show the newly created stagiaire data temporarily
            var alertDiv = $('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                'Stagiaire created successfully!' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>');

            $('.content-header').after(alertDiv);

            // Auto-hide the alert after 3 seconds
            setTimeout(function() {
                alertDiv.alert('close');
            }, 3000);
        },
        error: function(xhr, status, error) {
            console.error('An error occurred while creating the stagiaire:', error);
        }
    });
});
</script>


<!-- //delete stagiaire -->
<script>
    //delete function
    function confirmDelete(event, stagiaireId) {
        event.preventDefault(); // Prevent form submission

        // Get the modal element
        var modal = document.getElementById('exampleModalCenter');

        // Get the buttons in the modal
        var confirmButton = modal.querySelector('.btn-danger');
        var closeButton = modal.querySelector('.btn-secondary');

        // Update the confirm button's click event
        confirmButton.onclick = function() {
            // Perform the delete operation
            fetch(`/stagaire/${stagiaireId}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Stagiaire deleted successfully
                        var alertDiv = $('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            'Stagiaire deleted successfully!' +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                            '</div>');

                        $('.content-header').after(alertDiv);

                        // Auto-hide the alert after 3 seconds
                        setTimeout(function() {
                            alertDiv.alert('close');
                        }, 3000);

                        window.location.href = window.location.href; // Reload the page
                    } else {
                        // Error deleting stagiaire
                        console.error('An error occurred while deleting the stagiaire: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error(error);
                    console.error('An error occurred while deleting the stagiaire');
                });

            // Close the modal
            $(modal).modal('hide');
        };

        // Show the modal
        $(modal).modal('show');

        // Update the close button's click event
        closeButton.onclick = function() {
            // Close the modal
            $(modal).modal('hide');
        };
    }
</script>

<!-- //update stagiaire -->
<script>
        function goToUpdatePage(stagiaireId) {
            window.location.href = `/stagaire/stagiaire-update/${stagiaireId}`;
        }
</script>



<!-- Place this script tag at the end of your HTML file, just before the closing </body> tag -->
<script>
    // Function to parse URL query parameters
    function parseQueryParams() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      return Object.fromEntries(urlParams.entries());
    }
  
    // Check for the updateSuccess query parameter in the URL
    const queryParams = parseQueryParams();
    if (queryParams.updateSuccess === 'true') {
      // Show the success alert
      var alertDiv = $('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
        'Stagiaire updated successfully!' +
        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
        '</div>');
  
      $('.content-header').after(alertDiv);
  
      // Auto-hide the alert after 3 seconds
      setTimeout(function() {
        alertDiv.alert('close');
      }, 3000);
    }
  </script>
  
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
