<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Stagiaires</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Stagiaires</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <div class="col-auto ms-auto d-print-none">
                                                <div class="d-flex justify-content-between">
                                                    <label for="excel-file" class="btn btn-success d-none d-sm-inline-block">
                                                        Insere list
                                                    </label>
                                                    <input type="file" id="excel-file" accept=".xlsx, .xls" style="display: none" />
                                                    
                                                    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report" id="new-stagiaire-button">
                                                        Nouveau Stagiaire
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">CEF</th>
                                                <th class="text-center">Nom</th>
                                                <th class="text-center">Prénom</th>
                                                <th class="text-center">Numero de tele</th>
                                                <th class="text-center">Justification</th>
                                                <th class="text-center">N° de Groupe</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <% if (!stagiaires || stagiaires.length === 0) { %>
                                            <tr>
                                                <td colspan="7" style="text-align:center">No stagiaire records found.</td>
                                            </tr>
                                            <% } else { %>
                                                <% stagiaires.forEach((stagiaire) => { %>
                                                <% if(stagiaire.status == "active"){ %>

                                                    <tr >
                                                        <td class="text-center"><%= stagiaire.CEF %></td>
                                                        <td class="text-center"><%= stagiaire.lastName %></td>
                                                        <td class="text-center"><%= stagiaire.firstName %></td>
                                                        <td class="text-center"><%= stagiaire.phone_number %></td>
                                                        <td class="text-center"><%= stagiaire.justification %></td>
                                                        <td class="text-center">
                                                            <% groups.forEach((group) => { %>
                                                                <% if (stagiaire.groupId === group.id) { %>
                                                                    <%= group.name %>
                                                                <% } %>
                                                            <% }) %>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="/stagaire/get-stagiaire-details/<%= stagiaire.id %>" class="btn btn-info detail-btn">
                                                                <i class="fas fa-eye"></i>
                                                            </a>                                                            
                                                            <button class="btn btn-success update-btn" onclick="goToUpdatePage('<%= stagiaire.id %>')">
                                                                <i class="fas fa-edit"></i>
                                                            </button>
                                                            <button class="btn btn-danger archive-btn" data-toggle="modal" data-target="#archiveModal" data-stagiaire-id="<%= stagiaire.id %>">
                                                                <i class="fas fa-archive"></i> 
                                                            </button>                                                                                                                    
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                <% }) %>
                                                
                                            <% } %>
                                        </tbody>
                                        
  
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('partials/script') %>
    </div>
    <!-- ./wrapper -->
    <!-- Modal insert -->
    <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-report" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Nouveau Stagiaire</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="create-stagiaire-form" action="/stagaire/create" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">CEF</label>
                            <input type="text" class="form-control" name="CEF" placeholder="CEF" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Prénom</label> 
                            <input type="text" class="form-control" name="firstName" placeholder="Prénom" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" name="lastName" placeholder="Nom" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Numéro de téléphone</label>
                            <input type="text" class="form-control" name="phone_number" placeholder="Numéro de téléphone">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Justification</label>
                            <textarea class="form-control" name="justification" placeholder="Justification"></textarea>
                        </div>                        
                        <div class="mb-3">
                            <label class="form-label">Sélectionner un groupe</label>
                            <select class="form-control" name="groupId" id="group-select" required>
                                <option value="" disabled selected>Select a group</option>
                                <% groups.forEach((group) => { %>
                                <option value="<%= group.id %>"><%= group.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="create-stagiaire-button">Créer Stagiaire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- archive Modal-->
    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="modal-report" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Archiver Stagiaire</h5>
                    <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <form id="archive-form" action="/archive_stagiaire" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="stagiaire_id" value="">
                        <div class="mb-3">
                            <label class="form-label">Date d'Archivage</label>
                            <input type="date" class="form-control" name="Date_archivage" placeholder="Date d'Archivage" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Motif d'Archivage</label>
                            <textarea class="form-control" name="motif" placeholder="Motif d'Archivage" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="archive-button">Archiver Stagiaire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script>
    // When the modal is shown
    $('#archiveModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var stagiaireId = button.data('stagiaire-id'); // Extract info from data-* attributes

        var modal = $(this);
        var form = modal.find('#archive-form');

        // Set the stagiaire id in the form
        form.find("input[name='stagiaire_id']").val(stagiaireId);
    });
</script>



<script>
    $(document).ready(function () {
        $('#archive-form').on('submit', function (event) {
            event.preventDefault();

            var form = $(this);
            var selectedStagiaireId = form.find("input[name='stagiaire_id']").val();
            var selectedDate = form.find("input[name='Date_archivage']").val();
            var selectedMotif = form.find("textarea[name='motif']").val();

            // Create a data object to send with the request
            var data = {
                stagiaireId: selectedStagiaireId,
                archived_at: selectedDate,
                motif: selectedMotif
            };

            // Use AJAX to send the data to the server
            $.ajax({
                type: 'POST',
                url: '/archived_stagiaires/' + selectedStagiaireId,
                data: data,
                success: function (response) {
                    // Handle success response if needed
                    console.log('Stagiaire archived successfully');
                    // Close the modal
                    $('#archiveModal').modal('hide');
                    
                    location.reload();
                },
                error: function (error) {
                    // Handle error response if needed
                    console.error('Error archiving stagiaire:', error);
                }
            });
        });
    });
</script>




<!-- pour les listes des stgrs -->
<script>
    document.getElementById('excel-file').addEventListener('change', handleFileUpload);

    function handleFileUpload(event) {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('file', file);

      fetch('/stagaire/upload', {
        method: 'POST',
        body: formData
      })
        .then(response => {
          if (response.ok) {
            alert('Stagiaire list uploaded successfully');
            // Refresh the page or perform any additional actions
          } else {
            throw new Error('Stagiaire list upload failed');
          }
        })
        .catch(error => {
          console.error('An error occurred while uploading the stagiaire list:', error);
          alert('An error occurred while uploading the stagiaire list : '+error.message);
        });
    }
</script>


<!-- //add new stagiaire -->
<script>
    $('#create-stagiaire-form').on('submit', function(event) {
        event.preventDefault();
    
        var form = $(this);
        var url = form.attr('action');
        var formData = form.serialize();
    
        console.log('Form submitted');
        console.log('formData:', formData);
    
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            dataType: 'json',
            success: function(response) {
                // Check the status code and response content to handle success or error
                if (response.message) {
                    console.log('Stagiaire created successfully:', response.message);
                    window.location.reload(); // Reload the window
                } else if (response.error === 'CEF already exists') {
                    alert('CEF is already taken. Please choose a different CEF.'); // Display alert
                    // Handle duplicate CEF error
                } else {
                    console.error('An error occurred while creating the stagiaire.');
                    // Handle other errors
                }
            },
            error: function(xhr, status, error) {
                    alert('CEF is already taken. Please choose a different CEF.'); // Display alert
                    // Handle duplicate CEF error
            }
        });
    });
</script>

<!-- //delete stagiaire -->
<script>
    //delete function
    function confirmDelete(event, stagiaireId) {
        event.preventDefault(); // Prevent form submission

        // Get the modal element
        var modal = document.getElementById('exampleModalCenter');

        // Get the buttons in the modal
        var confirmButton = modal.querySelector('.btn-danger');
        var closeButton = modal.querySelector('.btn-secondary');

        // Update the confirm button's click event
        confirmButton.onclick = function() {
            // Perform the delete operation
            fetch(`/stagaire/${stagiaireId}`, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Stagiaire deleted successfully
                        var alertDiv = $('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            'Stagiaire deleted successfully!' +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                            '</div>');

                        $('.content-header').after(alertDiv);

                        // Auto-hide the alert after 3 seconds
                        setTimeout(function() {
                            alertDiv.alert('close');
                        }, 3000);

                        window.location.href = window.location.href; // Reload the page
                    } else {
                        // Error deleting stagiaire
                        console.error('An error occurred while deleting the stagiaire: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error(error);
                    console.error('An error occurred while deleting the stagiaire');
                });

            // Close the modal
            $(modal).modal('hide');
        };

        // Show the modal
        $(modal).modal('show');

        // Update the close button's click event
        closeButton.onclick = function() {
            // Close the modal
            $(modal).modal('hide');
        };
    }
</script>

<!-- //update stagiaire -->
<script>
        function goToUpdatePage(stagiaireId) {
            window.location.href = `/stagaire/stagiaire-update/${stagiaireId}`;
        }
</script>



<!-- Place this script tag at the end of your HTML file, just before the closing </body> tag -->
<script>
    // Function to parse URL query parameters
    function parseQueryParams() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      return Object.fromEntries(urlParams.entries());
    }
  
    // Check for the updateSuccess query parameter in the URL
    const queryParams = parseQueryParams();
    if (queryParams.updateSuccess === 'true') {
      // Show the success alert
      var alertDiv = $('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
        'Stagiaire updated successfully!' +
        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
        '</div>');
  
      $('.content-header').after(alertDiv);
  
      // Auto-hide the alert after 3 seconds
      setTimeout(function() {
        alertDiv.alert('close');
      }, 3000);
    }
  </script>
  

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
