<!DOCTYPE html>
<html lang="fr">
<%- include('partials/header') %>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/aside') %>

        <div class="content-wrapper">
          <section class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1>Utilisateurs</h1>
                      </div>
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                              <li class="breadcrumb-item active">Utilisateurs</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </section>
  
          <section class="content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-body">
                                  <form id="update-form" action="/user/update/<%= users.id %>" method="POST">
                                    <div class="mb-3">
                                      <label for="update-name" class="form-label">Nom</label>
                                      <input type="text" class="form-control" id="update-name" name="nom_complete" value="<%= users.nom_complete %>" >
                                    </div>
                                    
                                    <div class="mb-3">
                                      <label for="update-email" class="form-label">Email</label>
                                      <input type="email" class="form-control" id="update-email" name="email" value="<%= users.email %>" >
                                    </div>
                                    <div class="mb-3">
                                      <label for="update-password" class="form-label">Mot de passe</label>
                                      <input type="password" class="form-control" id="update-password" name="password" value="<%= users.password %>" >
                                    </div>
                                    <div class="mb-3">
                                      <label for="update-role" class="form-label">Rôle</label>
                                      <input type="text" class="form-control" id="update-role" name="role" disabled value="<%= users.role ? '' : 'Formateur' %>" >
                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                      <a href="/user" class="btn btn-secondary">Fermer</a href="/user">
                                      <button type="submit" class="btn btn-primary" id="update-user-btn">Mettre à jour</button>
                                    </div>
                                  </form>
                                    
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  
      <%- include('partials/script') %>
  </div>
  <!-- ./wrapper -->
  
  <script>
      // Function to open the update modal with current data
      function openUpdateModal(userId) {
        // Send a GET request to the server endpoint
        fetch(`/user/${userId}`)
          .then(response => response.json())
          .then(user => {
            // User data received from the server
            console.log('User:', user);
            // Set the form inputs with the user data
            document.getElementById('update-name').value = user.nom_complete;
            document.getElementById('update-email').value = user.email;
            document.getElementById('update-password').value = user.password;
            document.getElementById('update-role').value = user.role;
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
  </script>
  
</body>

</html>
